<!DOCTYPE html>
<html>
<head>
	<title>Updated - Free template by chakosh.ir</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/updated.css">
</head>
<body>
<section class="header row">
	<h1 class="name text-center">john smith</h1>
	<h4 class="description text-center">web developer</h4>
	<div class="avatar row center-block">
		<img class="img-circle" src="images/avatar-128.jpg">
	</div>
</section><!-- .header -->
<section class="main row">
	<h1 class="stay-updated text-center">stay updated</h1>
	<div class="social-icons row center-block">
		<div class="col-xs-3">
			<a href="#">
				<button class="btn btn-default"><i class="fa fa-facebook fa-fw"></i></button>
			</a>
		</div>
		<div class="col-xs-3">
			<a href="#">
				<button class="btn btn-default"><i class="fa fa-twitter fa-fw"></i></button>
			</a>
		</div>
		<div class="col-xs-3">
			<a href="#">
				<button class="btn btn-default"><i class="fa fa-instagram fa-fw"></i></button>
			</a>
		</div>
		<div class="col-xs-3">
			<a href="#">
				<button class="btn btn-default"><i class="fa fa-github fa-fw"></i></button>
			</a>
		</div>
	</div>
</section><!-- .main -->
<section class="footer">
	<p class="by-chakosh text-center">by <a href="https://chakosh.ir">Chakosh.ir</a></p>
</section>
</body>
</html>